/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Big Shoulders Display", sans-serif;
  color: white;
}

p{
  font-family: 'Glacial Indifference', sans-serif;
  font-weight: bolder;
}

h1{
  font-weight: bolder;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* imagens */



/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-caption h1{
  font-family: "Big Shoulders Display", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.carousel-caption p {
  font-family: 'Glacial Indifference', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel-inner{
  margin-top: 50px;
  border: 3px solid white;
  border-radius: 10px;
}

.carousel-item {
  height: 32rem;
}

.btn-lg{
  border: 4px solid white;
  background-color: #B6D1DE ;  
}

.btn-lg:hover{
  border: 4px solid white;
  background-color: #7A9AAB ;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border: 2px solid white;
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}



/* rtl:end:remove */

/* Footer */



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
